<div class="hero-unit" style="margin-top: 25px">
	<h1 style="padding-bottom: 15px">What are you craving?</h1>

	<%= form_tag root_path do %>
	    <%= text_field_tag :search, params[:search], :value => @example %>
	    <%= submit_tag "I am hungry", :class => "btn btn-primary" %>
	<% end %>

	<% if params[:search] %>
		
	<h3 class="muted" style="padding-bottom: 10px">Here are the result for "<%= params[:search] %>":</h3>


 
	<% @response['count'].times do |i| %>
			<%= link_to image_tag(@response['recipes'][i]['thumb']), @response['recipes'][i]['source_url'] %>
	<% end %>
	      	   
	   

	<% end %>
	   

</div>